.printContainer{
  width: 900px;
  margin:0 auto;
}
.progress-container{
  margin: 20px auto 50px;
}
.progress-container h2{
  text-align: center;
}
.clearfix span{
  margin:15px 0;
}
.progress-table {
  width: 900px;
  border-top: 1px solid #999999;
}
.progress-table td{
  border-right:1px solid #999999;
  border-bottom:1px solid #999999;
}
.progress-table td{
  height: 38px;
  line-height: 38px;
  color: #595959;
}
.fieldName{
  width: 200px;
  text-align: right;
  padding-right: 10px;
  border-right:none;
  border-left: 1px solid #999999;
}
.fieldValues{
  text-indent: 20px;
}
.fieldValues span{
  display: inline-block;
  height: 38px;
  line-height: 38px;
}
.fieldName span{
  display:block;
  width:150px;
  text-align: center;
}
.left{
  float: left;
}
.right{
  float: right;
}
.signPic{
  width:100px;
  overflow: hidden;
}
.signPic img{
  width:100%;
  height: 100%;
  vertical-align: middle;
}
.signHide{
  display: none;
}
